.track {
   position: relative;
   margin-top: 200px;
   width: 100%;
   height: 500px;
   background: rgb(116, 113, 113);
}

.line {
   position: absolute;
   left: 0%;
   top: 45%;
   width: 100%;
   height: 25px;
   background: #ffffff;
}

.car {
   display: inline-block;
   position: relative;
   top: -235px;
   left: 100px;
   width: 300px;
   height: 150px;
   animation: speed 10s linear infinite ;
}

@keyframes speed {
   0% {
      top: -235px;
      left: -400px;
      -webkit-transform: scaleX(1)
   }

   50% {
      top: -235px;
      left: 100%;
      -webkit-transform: scaleX(1)
   }

   51% {
      top: -495px;
      left: 100%;
      -webkit-transform: scaleX(-1);
   }
   100% {
      -webkit-transform: scaleX(-1);
      top: -495px;
      left: -400px;
   }
}

.bott {
   position: absolute;
   left: -15px;
   top: 61px;
   width: 360px;
   height: 80px;
   background: #fef100d6;
   border-radius: 10px 80px 20px 20px ;
}

.top {
   position: absolute;
   left: 21px;
   top: 1px;
   height: 0;
   width: 240px;
   border-bottom: 60px solid #fef100d6;
   border-left: 60px solid transparent;
   border-right: 60px solid transparent;
}

.glass1 {
   display: inline-block;
   position: absolute;
   top: 6px;
   left: 220px;
   width: 15px;
   height: 55px;
   background: #ccc;
   border-radius: 5px 5px 0 0;
   transform: skewX(44deg);
}

.glass2 {
   display: inline-block;
   position: absolute;
   top: 6px;
   left: 173px;
   width: 34px;
   height: 55px;
   background: #dddcdc;
   border-radius: 5px 5px 0 0;
   transform: skewX(44deg);

   &_2 {
   display: inline-block;
   position: absolute;
   top: 0;
   left: -25px;
   width: 53px;
   height: 55px;
   background: #dddcdc;
   transform: skewX(-44deg);
   border-radius: 0 100% 0 0;
   }
}

.glass3 {
   display: inline-block;
   position: absolute;
   top: 6px;
   left: 76px;
   width: 34px;
   height: 55px;
   background: #dddcdc;
   border-radius: 5px 5px 0 0;
   transform: skewX(-44deg);

   &_2 {
   display: inline-block;
   position: absolute;
   top: 0;
   left: 6px;
   width: 53px;
   height: 55px;
   background: #dddcdc;
   transform: skewX(44deg);
   border-radius: 100% 0 0 0;
   }
}

.glass4 {
   display: inline-block;
   position: absolute;
   top: 6px;
   left: 47px;
   width: 15px;
   height: 55px;
   background: #ccc;
   border-radius: 5px 5px 0 0;
   transform: skewX(-44deg);
}

.door1 {
   position: absolute;
   left: 49px;
   top: 62px;
   width: 87px;
   height: 68px;
   border: 2px solid #ccc;
   border-top: none;
   animation: doorspeed 5s ease-in-out infinite;
}


.handle1 {
   position: absolute;
   left: 11px;
   top: 13px;
   width: 10px;
   height: 3px;
   background: #555555;
}

.handle2 {
   position: absolute;
   left: 11px;
   top: 13px;
   width: 10px;
   height: 3px;
   background: #555555;
}

.door2 {
   position: absolute;
   left: 148px;
   top: 62px;
   width: 87px;
   height: 68px;
   border: 2px solid #ccc;
   border-top: none;
}

.wheel1 {
   position: absolute;
   left: 18px;
   top: 92px;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background: #ffffff;
   border: 2px solid #ffffff;
   
   &_2 {
   position: absolute;
   left: 8px;
   top: 11px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background: #b2b0b0;
   border: 2px solid #ffffff;
   box-shadow: 0 0 0 10px;
   animation: wheelspeed 1s linear infinite;

   &_3 {
      position: absolute;
      left: -3px;
      top: 23px;
      width: 51px;
      height: 4px;
      background: #663399;
      transform: rotate(34deg);
      transform-origin: 50% 50%;
   }
   &_4 {
      position: absolute;
      left: -3px;
      top: 22px;
      width: 51px;
      height: 4px;
      background: #663399;
      transform: rotate(90deg);
      transform-origin: 50% 50%;
   }
   &_5 {
      position: absolute;
      left: -2px;
      top: 22px;
      width: 51px;
      height: 4px;
      background: #663399;
      transform: rotate(145deg);
      transform-origin: 50% 50%;
   }
}

   .h {
      position: absolute;
      left: -5px;
      top: 0px;
      width: 76px;
      height: 47px;
      background: #ffffff;
      border-radius: 50px 50px 0 0;
   }
} 

.wheel2 {
   position: absolute;
   left: 216px;
   top: 92px;
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background: #ffffff;
   border: 2px solid #ffffff;
   
   &_2 {
   position: absolute;
   left: 8px;
   top: 11px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background: #b2b0b0;
   border: 2px solid #ffffff;
   box-shadow: 0 0 0 10px;
   animation: wheelspeed 1s linear infinite;

   &_3 {
      position: absolute;
      left: -3px;
      top: 23px;
      width: 51px;
      height: 4px;
      background: #663399;
      transform: rotate(34deg);
      transform-origin: 50% 50%;
   }
   &_4 {
      position: absolute;
      left: -3px;
      top: 22px;
      width: 51px;
      height: 4px;
      background: #663399;
      transform: rotate(90deg);
      transform-origin: 50% 50%;
   }
   &_5 {
      position: absolute;
      left: -2px;
      top: 22px;
      width: 51px;
      height: 4px;
      background: #663399;
      transform: rotate(145deg);
      transform-origin: 50% 50%;
   }
}

@keyframes wheelspeed {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

   .h1 {
      position: absolute;
      left: -5px;
      top: 0px;
      width: 76px;
      height: 47px;
      background: #ffffff;
      border-radius: 50px 50px 0 0;
   }
} 
